---
import PostsLayout from "../layouts/PostsLayout.astro";
---

<PostsLayout title="404">
    <div class="flex flex-col justify-center items-center w-full h-full">
        <h1 class="text-6xl">Not Found</h1>
        <a href="/posts" class="text-twcolor-800 underline">Return</a>
    </div>
</PostsLayout>