---
import PostsLayout from "../layouts/PostsLayout.astro";
---
<PostsLayout title="About">
    <section class="flex flex-col items-center justify-center">
        <h1 class="text-6xl text-twcolor-950">Peanut</h1>
        <p>Peanut, ver 0.0.1</p>
    </section>
</PostsLayout>