---
import InfoLayout from "../layouts/InfoLayout.astro";
import InsetBlock from "../components/InsetBlock.astro";
---
<InfoLayout title="About">
    <h1 class="text-6xl text-twcolor-950">&#129372;Peanut</h1>
    <InsetBlock>
        <p>Peanut, ver 0.0.1</p>
        <p>Client built with <a href="https://astro.build" class="text-twcolor-800">{Astro.generator}</a></p>
        <a href="https://github.com/bodholtt/peanut" class="text-twcolor-800">GitHub</a>
    </InsetBlock>
</InfoLayout>