---
import Layout from "../layouts/Layout.astro";

const response = await fetch(`${import.meta.env.API_URL}/postCount`);
const postCount = await response.json();
---

<Layout title="">
	<article class="flex flex-col gap-1 items-center justify-center h-full">
		<h1 class="text-4xl">Peanut</h1>
		<p>{postCount} posts</p>
		<form>
			<label>
				<input type="text" placeholder="search" />
			</label>
			<button type="submit">&#x1F50D;</button>
		</form>
		<a href="/posts">view all posts</a>

		<a href="/upload">upload a post</a>
	</article>
</Layout>