---
import Layout from "../layouts/Layout.astro";

const response = await fetch(`${import.meta.env.API_URL}/postCount`);
const data = await response.json();
const postCount = response.ok? data.body : data.error;
---

<Layout title="">
	<article class="flex flex-col gap-1 items-center justify-center h-full">
		<h1 class="text-4xl">Peanut</h1>
		<p>{postCount} posts</p>
		<form>
			<label>
				<input type="text" placeholder="search" />
			</label>
			<button type="submit">&#x1F50D;</button>
		</form>

		<div class="flex flex-row gap-2">
			<a href="/posts">view all posts</a>
			<p>&#9733;</p>
			<a href="/login">login</a>
			<p>&#9733;</p>
			<a href="/signup">sign up</a>
		</div>
	</article>
</Layout>