---
import InfoLayout from "../layouts/InfoLayout.astro";
import InsetBlock from "../components/InfoBlock.astro";
---

<InfoLayout title="Sign Up">
    <h1 class="text-6xl">Sign up</h1>
    <InsetBlock>
        <div class="flex flex-row gap-2 items-center">
            <span class="text-6xl">&#9888;</span>
            <div>
                <p class="text-4xl">User authentication not finalized</p>
                <p>Server updates may cause breaking changes and loss of user data</p>
            </div>
        </div>
    </InsetBlock>

    <form class="w-1/2 mx-auto flex flex-col gap-2 border border-twcolor-950 bg-twcolor-100 p-2 items-center"
          id="userform"
          data-apiurl={import.meta.env.API_URL}
    >
        <div class="flex flex-row w-full gap-2 justify-between">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" class="w-2/3" required/>
        </div>
        <div class="flex flex-row w-full gap-2 justify-between">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="w-2/3" required/>
        </div>
        <button type="submit" class="border-twcolor-950 border bg-twcolor-50 w-fit px-2">Create Account</button>
    </form>

    <div class="w-full hidden flex-row justify-center gap-1" id="signupattempttext">
        <p>Signup attempt failed. Reason: <span id="reason"></span></p>
    </div>

    <div class="w-full flex flex-row justify-center gap-1">
        <p>Already have an account?</p> <a href="/login" class="text-twcolor-800">Log in</a>
    </div>

</InfoLayout>

<script>
    const userform = document.getElementById("userform") as HTMLFormElement;
    const signupattempttext = document.getElementById("signupattempttext") as HTMLDivElement;
    const reason = document.getElementById("reason") as HTMLSpanElement;
    const apiURL = userform.dataset.apiurl

    userform.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(userform);

        const response = await fetch(`${apiURL}/signup`, {
            method: 'POST',
            body: JSON.stringify({
                username: formData.get("username"),
                password: formData.get("password")
            }),
            headers: {
                "Content-Type": "application/json"
            }
        });

        const data = await response.json()
        console.log(data.body)

        if (response.ok) {
            const loginresponse = await fetch("/processlogin", {
                method: 'POST',
                body: JSON.stringify({
                    username: formData.get("username"),
                    password: formData.get("password")
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            });

            if (loginresponse.ok) window.location.href = `/user/${data.body}`
            else window.location.href = "/login";
        }
        else {
            signupattempttext.classList.add("flex");
            signupattempttext.classList.remove("hidden");
            reason.innerText = data.error;
        }
    });

</script>