---
const response = await fetch(`${import.meta.env.API_URL}/post/1`);
const data = await response.body;
---

<h1>Test page</h1>

<p>{data}</p>

<form action={`${import.meta.env.API_URL}/tag`} method="POST">
    <button type="submit">New tag</button>
</form>
<form action={`${import.meta.env.API_URL}/user`} method="POST">
    <button type="submit">New user</button>
</form>